<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446797017438-bnk8n49901nofn62ocefoi1sgf0ceaf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446797017438-bnk8n49901nofn62ocefoi1sgf0ceaf3</string>
	<key>API_KEY</key>
	<string>AIzaSyB2TJJsow7ihmvMJjpheVSt73jA2MdR5oM</string>
	<key>GCM_SENDER_ID</key>
	<string>446797017438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>new.AppChat</string>
	<key>PROJECT_ID</key>
	<string>appchat-1cfab</string>
	<key>STORAGE_BUCKET</key>
	<string>appchat-1cfab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446797017438:ios:87221d5ebb6905842a9fcf</string>
</dict>
</plist>